body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #081b299c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555591;
}

@font-face {
  font-family: "RanchinoLight";
  src: local("RanchinoLight"),
    url(../fonts/RanchinoScriptLight.otf) format("woff");
}
@font-face {
  font-family: "title";
  src: local("title"), url(../fonts/title.otf) format("woff");
}
@font-face {
  font-family: "futura";
  src: local("futura"), url(../fonts/futura.ttf) format("woff");
}

#title {
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 600;
}

#quote {
  font-family: "RanchinoLight";
  font-size: 80px;
  font-weight: 600;
}

#glitchText {
  font-family: "Space Mono", monospace;
}

#scroll-anim {
  animation: slideFromLeft ease-in;
  animation-timeline: view();
  animation-range-end: 35%;
}
