@font-face {
  font-family: 'RanchinoLight';
  src: local('RanchinoLight'), url(../fonts/RanchinoScriptLight.otf) format('woff');
}

#title{
  font-size: 50px;
  font-family: 'Montserrat';
  font-weight: 600;
}

#quote{
  font-family: 'RanchinoLight';
  font-size: 100px;
  font-weight: 600;
}