#headingThing {
  width: 30%;
}

.heading-icon-selected {
  /* border-radius: 8px; */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 900px) {
  #headingThing {
    width: 90vw;
    min-width: 100vw;
  }
  #headingThing #picbtn {
    margin-left: 4px;
  }
  #headingThing #themeToggle {
    margin-right: 4px;
  }
  #headingThing #headingIcon1 {
    width: 15vw;
    height: 4vh;
    font-size: 9px;
  }
  #headingThing #headingIcon2 {
    width: 15vw;
    height: 4vh;
    font-size: 9px;
  }
  #headingThing #headingIcon3 {
    width: 15vw;
    height: 4vh;
    font-size: 9px;
  }
  #headingThing #headingIcon4 {
    width: 15vw;
    height: 4vh;
    font-size: 9px;
  }
}
