h3 {
  text-decoration: underline;
  font-size: medium;
}

h1 {
  font-weight: 700;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#subttl {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 7s infinite, words 12s infinite;
  font-weight: 600;
}

#arrowimg {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(197deg)
    brightness(107%) contrast(101%);
  rotate: 180deg;
  animation: bouncyarrow 1.5s infinite;
}

@keyframes bouncyarrow {
  10% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
}
@keyframes words {
  0%,
  33% {
    content: "Frontend Designer";
  }
  34%,
  70% {
    content: "Web and App Developer";
  }
  71%,
  100% {
    content: "Tech enthusiast";
  }
}

#profilepic1 {
  transition-duration: 1s;
  transition-timing-function: linear;
}

#freelancingSectionDiv,
#terminalimg,
#myinfodiv {
  /* animation: reveal ease-in;
  animation-timeline: view();
  animation-range-end: 15%; */
  min-width: 600px;
}

#gigatitle {
  font-size: 4.5vw;
  font-weight: 600;
  font-family: "title";
  background-image: url("../assets/mainPageTextClip.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#gigatitlesub {
  font-family: "title";
  background-image: url("../assets/mainPageTextClip.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#middleStory {
  border-radius: 0px 0px 30px 30px;
}

#bottomLinks {
  border-radius: 10px 10px 0px 0px;
}

#myinfodiv {
  border-radius: 0px 0px 6px 6px;
}

/* Main BTNs */

.downloadbtn_div {
  display: flex;
  justify-content: space-around;
}

/* .downloadbtn_div button {
  width: 150px;
  height: 50px; 
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-bottom: 8px;
}
*/
.downloadbtn_div button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#downloadbtncontainer {
  border-radius: 0px 0px 8px 8px;
}

.swal {
  width: 75vw !important;
}

#myinfodiv1 {
  border-radius: 0px 0px 10px 10px;
}

@media only screen and (max-width: 900px) {
  /* #headingThing {
    width: 90%;
  } */
  #profilepic1 {
    width: 0px;
  }
  #ttl {
    font-size: 50px;
  }
  #subttl {
    font-size: 30px;
  }
  #freelancingSectionDiv,
  #terminalimg,
  #myinfodiv {
    min-width: 80vw;
    min-height: 30;
  }
}
